venv/

.terraform/
*.tfstate
*.tfstate.*
.terraform.workspaces/

src/lambdas/*/
src/lambdas/paramiko/
src/lambdas/cryptography/
src/lambdas/cffi/
src/lambdas/*.dist-info/
terraform/modules/compute/files/

sftp_data/
output_api.txt
output_sftp.txt